
/*------------------- 
# General
---------------------*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');
h1,
h2 {
    font-family: 'Archivo Black', sans-serif;
    font-weight: bolder;
}

html {
    font-size: 1rem;
}

body {
    font-weight: 400;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    color: #1b1e24;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* -moz-font-feature-settings: "liga", "kern"; */
    text-rendering: optimizelegibility;
}

a {
    color: #dc3545;
}

a:hover {
    color: #dc3545;
}

a:focus {
    outline: none;
}

p {
    line-height: 1.8;
}

figure {
    margin-bottom: 0;
}

hr {
    border-color: #e6e7e9;
}

[role=button] {
    cursor: pointer;
}

/*------------------------------------
  Headings
------------------------------------*/

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.h7,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.6;
    font-weight: 600;
}

/* Clients
---------------------------------*/


.client_logos {
    background: #fce0b0;
    border-radius: 15px;
    padding: 15px ;
    margin-top: 25px;
}

.client_logos ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.client_logos ul li {
    display: inline;
    margin: 0 25px;
  
}

.client_logos-img{
    padding: 12px;
    background-color: #b8a46c;
    border-radius: 20px;
}

.client_logos ul a {
    display: inline-block;
    margin: 0 20px;
}

.header-text{
    color:#d28b0f ;
    font-style: oblique;
 
    
}

.sub-header-text{
    color: #eb0a0a;
   
  
}
.team-bg
{
    background-color: #f5e08e;
    b
}


/*------------------------------------
  Highlight Color
------------------------------------*/

::-moz-selection {
    color: #fff;
    background-color:#d28b0f;
}

::selection {
    color: #fff;
    background-color: #d28b0f;
}

.bg-primary ::-moz-selection {
    color:#d28b0f;
    background-color: #fff;
}

.bg-primary ::selection {
    color:#d28b0f;
    background-color: #fff;
}

.nav-top a,
.nav-top li {
    color: #fff;
    
}


.hero-img {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.inner-page {
    background: #006bdf;
}

footer {
    color: #bdbdbd;
}

footer a {
    color: #8e8e8e;
}

.btn-outline-dark {
    color: #6f7173;
    border-color: #b8b8b8;
}

  
    


.logo a {
    text-decoration: none;
    
}
#logo{
    /* margin-top: 6px; */
    height:70px ;
    width:230px ;
  
}



.menu-area {
    position: relative;
    background: #fff;
}



.bg-primary{
    color: #fff;
    border-color: #ea1228 !important;
    background-color: #4f4c4d !important;

}
.btn-primary {
    color: #fff;
    border-color: #ea1228 !important;
    background-color: #d40d3b !important;
    
}

.btn-outline-primary {
    color: #dc3545;
    background-color: transparent !important;
    border-color: #dc3545 !important;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #dc3545 !important;
}

.bg-overlay,
.hero-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff !important;
    background-color: #dc3545;
    border-color: #dc3545;
}

.text-primary,
.page-link {
    color: #dc3545 !important;
}

.hero-img {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

/* .hero-content {} */

.inner-page {
    background: #006bdf;
}

.price-card .card-body ul li {
    line-height: 38px;
}

.contact-info i {
    font-size: 24px;
}

.team-dp ul {
    display: bock;
    margin: 0 auto;
    padding: 0;
}

.team-dp {
    text-align: center;
    display: bock;
}

.portfolio-menu ul li {
    margin: 0px 22px 8px;
    border: none;
    border-bottom: 4px solid;
    border-radius: 0;
    padding: 10px 4px;
}

.portfolio-menu ul li.active,
.portfolio-menu ul li:hover {
    margin: 0px 22px 8px;
    border: none;
    border-bottom: 4px solid;
    border-color: #dc3545 !important;
    border-radius: 0;
    padding: 10px 4px;
}

.main-footer li {
    line-height: 32px;
}

.inner-page-header {
    background: #580234;
    padding: 0;
}

.sub-text {
    font-size: 16px;
}

.nav-top-contact li {
    font-size: 15px;
}

.contactIcons .fa {
    font-size: 34px;
    padding: 32px;
    background: #ebebeb;
    border-radius: 50%;
    margin-bottom: 15px;
}

.copyrights {
    font-size: 13px !important;
}

@media (max-width: 991px) {
    .hero-img {
        background-position: 74%;
    }
}

/* contact feedback form */

input {
    outline: none;
    border: none
}

textarea {
    outline: none;
    border: none
}

textarea:focus,
input:focus {
    border-color: transparent !important
}

input::-webkit-input-placeholder {
    color: #999
}

input:-moz-placeholder {
    color: #999
}

input::-moz-placeholder {
    color: #999
}

input:-ms-input-placeholder {
    color: #999
}

textarea::-webkit-input-placeholder {
    color: #999
}

textarea:-moz-placeholder {
    color: #999
}

textarea::-moz-placeholder {
    color: #999
}

textarea:-ms-input-placeholder {
    color: #999
}

button {
    outline: none !important;
    border: none;
    background: 0 0
}

button:hover {
    cursor: pointer
}

iframe {
    border: none !important
}

.contact1 {
    width: 100%;
    min-height: 100%;
    padding: 15px;
    background: #009bff;
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
    background: -o-linear-gradient(left, #0072ff, #00c6ff);
    background: -moz-linear-gradient(left, #0072ff, #00c6ff);
    background: linear-gradient(left, #0072ff, #00c6ff);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}

.container-contact1 {
    width: 1163px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 90px 130px 88px 148px
}



.contact1-form {
    width: 390px
}



input.input1 {
    height: 50px;
    border-radius: 25px;
    padding: 0 30px
}

input.input1+.shadow-input1 {
    border-radius: 25px
}

textarea.input1 {
    min-height: 150px;
    border-radius: 25px;
    padding: 12px 30px
}

textarea.input1+.shadow-input1 {
    border-radius: 25px
}

.wrap-input1 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px
}

.input1 {
    display: block;
    width: 100%;
    background: #e6e6e6;
   
    font-size: 17px;
    line-height: 1.5;
    color: #666
}

.shadow-input1 {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0 0;
    color: rgba(87, 184, 70, .5)
}

.input1:focus+.shadow-input1 {
    -webkit-animation: anim-shadow .5s ease-in-out forwards;
    animation: anim-shadow .5s ease-in-out forwards
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0 0 80px 30px;
        opacity: 0
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0 0 80px 30px;
        opacity: 0
    }
}

.container-contact1-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.contact1-form-btn {
    min-width: 193px;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
   
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s
}

.contact1-form-btn i {
    margin-left: 7px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s
}

.contact1-form-btn:hover {
    background: #333
}

.contact1-form-btn:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px)
}

@media(max-width:1200px) {
    .contact1-pic {
        width: 33.5%
    }
    .contact1-form {
        width: 44%
    }
}

@media(max-width:992px) {
    .container-contact1 {
        padding: 90px 80px 88px 90px
    }
    .contact1-pic {
        width: 35%
    }
    .contact1-form {
        width: 55%
    }
}

@media(max-width:768px) {
    .container-contact1 {
        padding: 90px 80px 88px
    }
    .contact1-pic {
        display: none
    }
    .contact1-form {
        width: 100%
    }
}

@media(max-width:576px) {
    .container-contact1 {
        padding: 90px 15px 88px
    }
}

.validate-input {
    position: relative
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;
    font-family: Montserrat-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .4s;
    -o-transition: opacity .4s;
    -moz-transition: opacity .4s;
    transition: opacity .4s
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1
}

@media(max-width:992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1
    }
}

/* preloader */
#preloader{
    background: #0d0d0d url(loader.gif) no-repeat center;
    background-size:100% ;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

@media (max-width:990px) {
    #preloader {
       background-size: 960px ;
       position: fixed;
      
    }
}
/* bank heading */

.bank-heading
{
    background-color: #0072ff;
    margin-top: -2px;
    font-size: 45px;
    border-radius: 10px;

}
